@use "../../Shared";

.button-primary {
  margin: 1em 0em;
  @extend %config-color-primary;
  @extend %box;
}
.button-primary--center {
  display: block;
  margin: 1em auto;
  @extend %config-color-primary;
  @extend %box;
}
.button-secondary {
  margin: 1em;
  @extend %config-color-secondary;
  @extend %box;
}
.button-secondary--center {
  display: block;
  margin: 1em auto;
  @extend %config-color-secondary;
  @extend %box;
}
.button--icon {
  margin: 0em 0.5em;
}
.button--icon-light {
  color: var(--text-secondary);
  background-color: var(--primary);
  @extend %box-input;
}
.button--icon-dark {
  color: var(--secondary);
  background-color: burlywood;
  @extend %box-input;
}
