@use "../../Globals";

.modal {
  position: absolute;
  background: rgba(34, 34, 34, 0.548);
  color: var(--text-primary);
  border: solid 2px rgb(0, 247, 255);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
